.about-page,
.help-page {
  // SMALL MOBILE SCREEN
  @media (max-width: 375.98px) {
    .page-back-button {
      display: none !important;
    }
  }

  // BIG MOBILE SCREEN
  @media (min-width: 376px) and (max-width: 430.98px) {
    .page-back-button {
      display: none !important;
    }
  }

  // SMALL TABLET SCREEN - PORTRAIT
  @media (min-width: 767px) and (max-width: 1023.98px) and (orientation: portrait) and (pointer: coarse) and (hover: none) {
    .page-back-button {
      position: fixed;
      top: 5rem;
      left: 2rem;
      z-index: 50;
      margin-bottom: 0 !important;
      font-size: 1.05rem;
      gap: 0.6rem;
    }

    .page-back-button svg {
      width: 1.4rem;
      height: 1.4rem;
    }

    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;

    .about-help-content {
      max-width: 42rem !important;
    }
  }

  // BIG TABLET SCREEN - PORTRAIT
  @media (min-width: 1024px) and (max-width: 1366px) and (orientation: portrait) {
    .page-back-button {
      position: fixed;
      top: 6rem;
      left: 1rem;
      z-index: 50;
      margin-bottom: 0 !important;
    }
  }

  // SMALL LAPTOP SCREEN
  @media (min-width: 1024px) and (max-width: 1279.98px) and (orientation: landscape) {
    .page-back-button {
      position: fixed;
      top: 6rem;
      left: 2rem;
      z-index: 50;
      margin-bottom: 0 !important;
    }
  }

  // BIG LAPTOP SCREEN
  @media (min-width: 1280px) and (max-width: 1535.98px) and (orientation: landscape) {
    .page-back-button {
      position: fixed;
      top: 6rem;
      left: 2rem;
      z-index: 50;
      margin-bottom: 0 !important;
    }
  }

  // PC SCREEN
  @media (min-width: 1536px) {
    .page-back-button {
      position: fixed;
      top: 6rem;
      left: 2rem;
      z-index: 50;
      margin-bottom: 0 !important;
    }
  }
}
